<!DOCTYPE html>
<html>
<head>
	<title>Baris Kara / Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="icon" href="/images/favicon-3.png" type="image/gif" />
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="/public/images/tv-2223047_640.png" />
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
	<script src="https://kit.fontawesome.com/b4e7b901e6.js" crossorigin="anonymous"></script>
</head>
<body>
	<section class="s1">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1>My Portfolio</h1>
				<div class="social-menu">
					<ul>
                        <!--  
					  <li><a href="https://twitter.com/berkbaris48"><i class="fa fa-twitter"></i></a></li>
					  <li><a href=""><i class="fa fa-instagram"></i></a></li>
                      <li><a href=""><i class="fa fa-youtube"></i></a></li>
                      -->
					  <li><a href="https://www.linkedin.com/in/baris-kara-a033211a4/"><i class="fa fa-linkedin"></i></a></li>
					  <li><a href="https://github.com/bariss48"><i class="fa fa-github"></i></a></li>
					  <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML?retiredLocale=tr"><i class="fa fa-code"></i></a></li>
                      <li><a href="https://nodejs.org/en/"><i class="fab fa-node-js"></i></a></li>
                      <!--
					  <li><a href=""><i class="fab fa-java"></i></a></li>
					  <li><a href=""><i class="fab fa-python"></i></a></li>
					  <li><a href=""><i class="far fa-gem"></i></a></li>
					  <li><a href=""><i class="fab fa-html5"></i></a></li>
					  <li><a href=""><i class="fab fa-react"></i></a></li>
					  <li><a href=""><i class="fab fa-git-alt"></i></a></li>
					  <li><a href=""><i class="fas fa-database"></i></a></li>
					  <li><a href=""><i class="fas fa-server"></i></a></li>
					 -->
					</ul>
				  </div>
			</div>
			<div class="intro-wrapper">
				<div class="nav-wrapper">	
					<!-- Link around dots-wrapper added after tutorial video -->
					<a>
						<div class="dots-wrapper">
							<div id="dot-1" class="browser-dot"></div>
							<div id="dot-2" class="browser-dot"></div>
							<div id="dot-3" class="browser-dot"></div>
						</div>
					</a>
					<ul id="navigation">
						<li><a href="/">Home</a></li>
						<li><a href="">-</a></li>
						<li><a href="/blogs">Blogs</a></li>
						<li><a href="">-</a></li>
						<li><a href="/projects">Projects</a></li>
					</ul>
                </div>
                
                <div class="main-container">
                    <article class="resume-wrapper text-center position-relative">
                        <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
                            <header class="resume-header pt-4 pt-md-0">
                                <div class="media flex-column flex-md-row">
                                    <img class="mr-3 img-fluid picture mx-auto" src="images/foto-4.jpg" alt="">
                                    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
                                        <div class="primary-info">
                                            <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Berk Barış Kara</h1>
                                            <div class="title mb-3">Junior Full Stack Web Developer</div>
                                            <ul class="list-unstyled">
                                                <li class="mb-2"><a href="mailto:berkk.baris48@gmail.com"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>berkk.baris48@gmail.com</a></li>
                                              
                                            </ul>
                                        </div><!--//primary-info-->
                                        <div class="secondary-info ml-md-auto mt-2">
                                            <ul class="resume-social list-unstyled">
                                                <li class="mb-3"><a href="https://www.linkedin.com/in/baris-kara-a033211a4/"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/baris</a></li>
                                                <li class="mb-3"><a href="https://github.com/bariss48"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/bariss48</a></li>
                                                <li class="mb-3"><a href="https://www.codewars.com/users/Java_prosu48"><span class="fa-container text-center mr-2"><i class="fab fa-codepen fa-fw"></i></span>codewars/java_prosu/</a></li>
                                            
                                            </ul>
                                        </div><!--//secondary-info-->
                                        
                                    </div><!--//media-body-->
                                </div><!--//media-->
                            </header>
                            
                            <div class="resume-body p-5">
                                <section class="resume-section summary-section mb-5">
                                    <h2 class="resume-position-title font-weight-bold mb-1">Career Summary</h2>
                                    <div class="resume-section-content">
                                        <p class="resume-position-title font-weight-bold mb-1">Hi everyone!.My name is Barış .I am 23 years old.I have been worked on software for more than 4 years.In this process, I developed many projects and worked with private businesses.I am also a good teammate, friendly, hardworking person.</p>
                                        <a class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3" href="/projects">|-_-| Click for my ALL big coding project's |-_-|</a>
                                    </div>
                                </section><!--//summary-section-->
                                <div class="row">
                                    <div class="col-lg-9">
                                        <section class="resume-section experience-section mb-5">
                                            <h1 class="resume-position-title font-weight-bold mb-1">Work Experience and my Learning process</h1>
                                            <div class="resume-section-content">
                                                <div class="resume-timeline position-relative">                            
                                                    <article class="resume-timeline-item position-relative pb-5">                                                        
                                                        <div class="resume-timeline-item-header mb-2">
                                                            <div class="d-flex flex-column flex-md-row">
                                                                <h3 class="resume-position-title font-weight-bold mb-1">Bonus Step - My YouTube Channel - Yazılımla Barış -</h3>                                                             
                                                            </div><!--//row-->
                                                            <div class="resume-position-time">2020 - Present</div>
                                                        </div><!--//resume-timeline-item-header-->
                                                        <div class="resume-timeline-item-desc">
                                                            <p class="resume-position-title font-weight-bold mb-1">On my Youtube channel, I produce very nice contents that even those who do not know any software can understand. My aim is to teach software and make it loved.</p>                                                                                                                    
                                                            <p class="resume-position-title font-weight-bold mb-1">İf you want go my channel click youtube icon:</p>
                                                            <ul class="list-inline">
                                                                <img class="mr-3 img-fluid picture mx-auto" src="/images/yzlım.png" alt="">
                                                                <a href="https://www.youtube.com/channel/UCFYRdZMgX2QhMPTkTMmigPg"> <li class="list-inline-item"><span class="badge badge-primary badge-pill">YouTube</span></li></a>                                                              
                                                            </ul>
                                                        </div><!--//resume-timeline-item-desc-->
                                                    </article><!--//resume-timeline-item-->
                                                    <article class="resume-timeline-item position-relative pb-5">                                                        
                                                        <div class="resume-timeline-item-header mb-2">
                                                            <div class="d-flex flex-column flex-md-row">
                                                                <h3 class="resume-position-title font-weight-bold mb-1">Sixth step Step - 6 (Scable Apps)</h3>
                                                                <div class="resume-company-name ml-auto"></div>
                                                            </div><!--//row-->
                                                            <div class="resume-position-time">2021-present</div>
                                                        </div><!--//resume-timeline-item-header-->
                                                        <div class="resume-timeline-item-desc">
                                                            <p class="resume-position-title font-weight-bold mb-1">I use Docker containers and images for scable apps.</p>
                                                            <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>
                                                            <p class="resume-position-title font-weight-bold mb-1">Currently, I can dockerize to Node apps.My next step is Kubernetes.</p>                                                        
                                                            <img class="mr-3 img-fluid picture mx-auto" src="/images/docker.png" alt="">                                                 
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Docker</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Kubernetes</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Images</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Containers</span></li>                                                            
                                                            </ul>
                                                        </div><!--//resume-timeline-item-desc-->
                                                    </article><!--//resume-timeline-item-->

                                                    <article class="resume-timeline-item position-relative pb-5">                                                        
                                                        <div class="resume-timeline-item-header mb-2">
                                                            <div class="d-flex flex-column flex-md-row">
                                                                <h3 class="resume-position-title font-weight-bold mb-1">Fifth step Step - 5 (Mobile development)</h3>
                                                                <div class="resume-company-name ml-auto">Mobile</div>
                                                            </div><!--//row-->
                                                            <div class="resume-position-time">2020</div>
                                                        </div><!--//resume-timeline-item-header-->
                                                        <div class="resume-timeline-item-desc">
                                                            <p class="resume-position-title font-weight-bold mb-1">I use Flutter in mobile application development, it is an open source UI software development kit created by Google. Flutter uses dart language. I also interface and design with darts. So I code front-end on mobile compared to backend.</p>
                                                            <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>
                                                            <p class="resume-position-title font-weight-bold mb-1">I made corporate Mobile application for many private businesses.</p>                                                        
                                                            <img class="mr-3 img-fluid picture mx-auto" src="/images/fto.png" alt="">                                                 
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Flutter</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Dart</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Mobile</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Firebase</span></li>                                                            
                                                            </ul>
                                                        </div><!--//resume-timeline-item-desc-->
                                                    </article><!--//resume-timeline-item-->
                                                    
                                                    <article class="resume-timeline-item position-relative pb-5">
                                                        
                                                        <div class="resume-timeline-item-header mb-2">
                                                            <div class="d-flex flex-column flex-md-row">
                                                                <h3 class="resume-position-title font-weight-bold mb-1">Fourth Step 4 - Learning Web Technologies</h3>                                                             
                                                            </div><!--//row-->
                                                            <div class="resume-position-time">2018 - present</div>
                                                        </div><!--//resume-timeline-item-header-->
                                                        <div class="resume-timeline-item-desc">
                                                            <p class="resume-position-title font-weight-bold mb-1">First, I started by learning html and css, then I switched to Javascript.After learning these, I started to make a few designs.Then I jump to backend-side with NodeJS.</p>                                                                                                                    
                                                            <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements</h4>
                                                            <p class="resume-position-title font-weight-bold mb-1">I made corporate websites for many private businesses.</p>                                                                                                                    
                                                            <ul class="list-inline">                                                    
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">CSS</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">JavaScript</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Webpack</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>                                                              
                                                            </ul>
                                                        </div><!--//resume-timeline-item-desc-->
                
                                                    </article><!--//resume-timeline-item-->                                                
                                                    <article class="resume-timeline-item position-relative pb-5">                                                        
                                                        <div class="resume-timeline-item-header mb-2">
                                                            <div class="d-flex flex-column flex-md-row">
                                                                <h3 class="resume-position-title font-weight-bold mb-1">Third Step 3 - Make OOP projects with JAVA</h3>                                                             
                                                            </div><!--//row-->
                                                            <div class="resume-position-time">2018 - present</div>
                                                        </div><!--//resume-timeline-item-header-->
                                                        <div class="resume-timeline-item-desc">
                                                            <p class="resume-position-title font-weight-bold mb-1"> I have done many projects with the object oriented programming technique of Java. For example, hotel automation, patient tracking system, car rental application etc..</p>
                                                            <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements</h4>
                                                            <p class="resume-position-title font-weight-bold mb-1">I made corporate projects for many private businesses.</p>
                                                            <ul class="list-inline">                                                                                                                            
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Java</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">OOP</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Swing</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Mysql</span></li>                                                                                                                              
                                                            </ul>
                                                            <img class="mr-3 img-fluid picture mx-auto" src="/images/java-1.png" alt="">                                                 
                                                                <img class="mr-3 img-fluid picture mx-auto" src="/images/java-2.png" alt="">  
                                                        </div><!--//resume-timeline-item-desc-->                
                                                    </article><!--//resume-timeline-item-->                                                    
                                                    <article class="resume-timeline-item position-relative pb-5">                                                        
                                                        <div class="resume-timeline-item-header mb-2">
                                                            <div class="d-flex flex-column flex-md-row">
                                                                <h3 class="resume-position-title font-weight-bold mb-1">Second Step 2 - Learning Data Structures and Algorithms</h3>
                                                                <div class="resume-company-name ml-auto">(favorite)</div>
                                                            </div><!--//row-->
                                                            <div class="resume-position-time">2018 - 2019</div>
                                                        </div><!--//resume-timeline-item-header-->
                                                        <div class="resume-timeline-item-desc">
                                                            <p class="resume-position-title font-weight-bold mb-1"> Maybe my two favorite lessons in the department. In my opinion, these are two beautiful lessons that are always fun and instructive. I also tried to improve myself by gaining experience in these two lessons and now I am very successful . My favorite algorithm is 'Divide and Conquer' because I think the working principle is very nice, on the other hand, my favorite data structure type is AVL trees.</p>
                                                            <p class="resume-position-title font-weight-bold mb-1">With data structures, you can store data in a very functional way, and you can call these data very easily with algorithms.</p>
                                                            <ul class="list-inline">
                                                                <img class="mr-3 img-fluid picture mx-auto" src="/images/data.png" alt="">
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Algorithms</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Data Structures</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Java</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Tree</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">LinkedList</span></li>
                                                            </ul>
                                                        </div><!--//resume-timeline-item-desc-->
                                                    </article><!--//resume-timeline-item-->                                                    
                                                    <article class="resume-timeline-item position-relative">                                                        
                                                        <div class="resume-timeline-item-header mb-2">
                                                            <div class="d-flex flex-column flex-md-row">
                                                                <h3 class="resume-position-title font-weight-bold mb-1">First step 1 - Learning Basics of Programming  <small class="text-muted">(Noob)</small></h3>                                                               
                                                            </div><!--//row-->
                                                            <div class="resume-position-time">2017-18</div>
                                                        </div><!--//resume-timeline-item-header-->
                                                        <div class="resume-timeline-item-desc">
                                                            <p class="resume-position-title font-weight-bold mb-1">First of all, I started my journey with the C programming language and learned many basic structures through this language. After that, I switched to java language and there I turned to OOP and did many projects on Java.
                                                                Java and C language are great languages ​​for me to start.</p>
                                                            <h4 class="resume-position-title font-weight-bold mb-1">Finished this book;</h4>
                                                            <ul class="list-inline">
                                                                <img class="mr-3 img-fluid picture mx-auto" src="/images/book.jpg" alt="">
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">C</span></li>
                                                                <li class="list-inline-item"><span class="badge badge-primary badge-pill">Java</span></li>                                                               
                                                            </ul>
                                                        </div><!--//resume-timeline-item-desc-->
                                                    </article><!--//resume-timeline-item-->
                                                    
                                                    
                                                </div><!--//resume-timeline-->
                                                
                                                
                                                
                                                
                                                
                                                
                                            </div>
                                        </section><!--//experience-section-->
                                    </div>
                                    <div class="col-lg-3">
                                        <section class="resume-section skills-section mb-5">
                                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
                                            <div class="resume-section-content">
                                                <div class="resume-skill-item">
                                                    <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
                                                    <ul class="list-unstyled mb-4">
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">React-JS</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 98%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">Redux-JS</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">TAILWIND-CSS</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>                                                   
                                                        </li>
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">HTML/CSS/SASS/LESS</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div><!--//resume-skill-item-->
                                                
                                                <div class="resume-skill-item">
                                                    <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">NodeJS</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">Firebase</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 42%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                   
                                                    </ul>
                                                </div><!--//resume-skill-item-->

                                                <div class="resume-skill-item">
                                                    <h4 class="resume-skills-cat font-weight-bold">Database</h4>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">MongoDB - Atlas</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">MySQL</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 42%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>                                                                                               
                                                    </ul>
                                                </div><!--//resume-skill-item-->                                                        
                                                <div class="resume-skill-item">
                                                    <h4 class="resume-skills-cat font-weight-bold">Programming Languages</h4>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">Java</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">Python</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 72%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                        
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">Ruby</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                        
                
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">C++</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                   
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">C</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>                                                                        
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">JavaScript</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 98%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">Dart</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>                                                   
                                                        </li>                                                                                                               
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">Haskell</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 18%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>                                                        
                                                        <li class="mb-2">
                                                            <div class="resume-skill-name">Eiffel</div>
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>                                
                                                    </ul>
                                                </div><!--//resume-skill-item-->
                                                   
                                                <div class="resume-skill-item">
                                                    <h4 class="resume-skills-cat font-weight-bold">Others</h4>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><span class="badge badge-light">Machine Learning</span></li>
                                                        <li class="list-inline-item"><span class="badge badge-light">Microservices</span></li>
                                                        <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
                                                        <li class="list-inline-item"><span class="badge badge-light">Data Mining</span></li>
                                                        <li class="list-inline-item"><span class="badge badge-light">Artificial Intelligence</span></li>
                                                 
                                                    </ul>
                                                </div><!--//resume-skill-item-->
                                            </div><!--resume-section-content-->
                                        </section><!--//skills-section-->
                                        <section class="resume-section education-section mb-5">
                                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
                                            <div class="resume-section-content">
                                                <ul class="list-unstyled">
                                                    <li class="mb-2">
                                                        <div class="resume-position-title font-weight-bold mb-1">Computer Engineering (3.12 / 4.0)</div>
                                                        <div class="resume-position-title font-weight-bold mb-1">Pamukkale University</div>
                                                        <div class="resume-position-title font-weight-bold mb-1">2018 - 2022</div>
                                                    </li>
                                                    <li>
                                                        <div class="resume-degree font-weight-bold">High School</div>
                                                        <div class="resume-degree-org">
                                                          <p class="resume-position-title font-weight-bold mb-1"> Denizli Anadolu Lisesi(2014)-Lütfi Ege Anadolu Lisesi(2015-16)-Özel Final Anadolu Lisesi(2016-2017)</p> 
                                                        </div>
                                                       
                                                    </li>
                                                </ul>
                                            </div>
                                        </section><!--//education-section-->
                                        <section class="resume-section reference-section mb-5">
                                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h2>
                                            <div class="resume-section-content">
                                                <ul class="list-unstyled resume-awards-list">
                                                    <li class="mb-2 pl-4 position-relative">
                                                        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                                                        <div class="resume-award-name">3 Times Chess Champion</div>
                                                        <div class="resume-position-title font-weight-bold mb-1">I started chess at the age of 7 and played professionally until the age of 13.I won 3 championships in this process. I left chess in high school and played only for hobby</div>
                                                    </li>
                                                  
                                                </ul>
                                            </div>
                                        </section><!--//interests-section-->
                                        <section class="resume-section language-section mb-5">
                                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
                                            <div class="resume-section-content">
                                                <ul class="list-unstyled resume-lang-list">
                                                    <li class="mb-2"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal"></small></li>
                                                    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">Deutch</span> <small class="text-muted font-weight-normal"></small></li>
                                                  
                                                </ul>
                                            </div>
                                        </section><!--//language-section-->
                                        <section class="resume-section interests-section mb-5">
                                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Hobbys</h2>
                                            <div class="resume-section-content">
                                                <ul class="list-unstyled">
                                                    <li class="resume-position-title font-weight-bold mb-1">- Strategy Games</li>
                                                    <li class="resume-position-title font-weight-bold mb-1">- Computer Games(Warcraft-3,World of Warcraft,Hearthstone)</li>
                                                    <li class="resume-position-title font-weight-bold mb-1">- Chess,online or dashboard</li>
                                                    <li class="resume-position-title font-weight-bold mb-1">- Travel and some take Vlog</li>
                                                </ul>
                                            </div>
                                        </section><!--//interests-section-->
                                        
                                    </div>
                                </div><!--//row-->
                            </div><!--//resume-body-->
                            <footer class="footer text-center pt-2 pb-5">
                                <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
                                <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
                            </footer>
                            
                        </div>
                    </article>  
                
				
			</div>
		</div>
    </section> 
</body>
</html>